/*
.fullscreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
*/

.modal {
	position: relative;
	max-width: 792px;
	min-height: 823px;
	text-transform: uppercase;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
	padding: 32px 0 28px;
	margin: 30px auto;
}

.modal__btn-close {
	position: absolute;
	top: 20px;
	right: 30px;
	width: 20px;
	height: 20px;
}

.modal__cross {
	display: inline-block;
}

.form {
	max-width: 580px;
	margin: 0 auto;
}

.form__title {
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 2.4px;
	margin-bottom: 43px;
}

.form__body {
	margin-bottom: 32px;
}

.form-body {
	display: grid;
	grid-template-columns: minmax(auto, 524px);
	grid-template-rows: repeat(7, auto);
	justify-content: center;
	align-content: center;
	row-gap: 12px;
	background-color: #fff;
	filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.20));
	border-radius: 8px;
	padding: 28px 0;
}

.form-body__label {
	display: block;
	padding-left: 10px;
	margin-bottom: 5px;
}

.form-body__input {
	width: 100%;
	height: 40px;
	background-color: #f4f2ff;
	border-radius: 6px;
	padding: 0 20px;
	transition: box-shadow .3s;
}

.form-body__input:focus-visible {
	outline: none
}

.form-body__input:hover {
	box-shadow: 0 0 10px rgba(0, 113, 227, 0.5);
}

.form-body__input:focus {
	box-shadow: 0 0 10px rgba(113, 0, 227, 0.5);
}

.form-body__input_indicator_color::-webkit-calendar-picker-indicator {
	color: #6e6893;
	transition: .3s;
}

.form-body__checkbox {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form-body__checkbox:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: #f4f2ff;
	border-radius: 6px;
	transition: box-shadow .3s;
}

.form-body__checkbox:after {
	content: '';
	position: absolute;
	top: 12px;
	left: 10px;
	width: 20px;
	height: 10px;
	border: 2px solid #6e6893;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	opacity: 0;
}

.form-body__checkbox:checked:after {
	opacity: 1;
}

.form-body__checkbox:hover:before {
	box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.form-body__checkbox:focus:checked:before {
	box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.form-body__input_grey {
	display: block;
	max-width: 474px;
	background-color: #eee;
	margin-left: auto;
	pointer-events: none;
}

.form-body__checkbox:checked + .form-body__input_grey {
	background-color: #f4f2ff;
	pointer-events: visible;
}

.form-body__input_textarea {
	height: 112px;
	resize: none;
	padding: 10px 20px;
}

.form__btn {
	display: block;
	width: 200px;
	height: 39px;
	font-size: 16px;
	background-color: #6d5bd0;
	color: #fff;
	text-transform: inherit;
	border-radius: 6px;
	margin-right: 28px;
	margin-left: auto;
}